<a href="https://colab.research.google.com/github/baalasangar/MLAI/blob/master/08_RecommendationSystem/Assignment/recommendation_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#!pip install surprise


#### 1) Importing Liberaries & reading all data

In [2]:
import pandas as pd 
pd.set_option('display.max_columns', None)

import numpy as np
import seaborn as sns
import statsmodels.api as sm
import matplotlib.pyplot as plt
#%matplotlib inline
sns.set(style="whitegrid")

from surprise import Dataset
from surprise import SVD
from surprise.model_selection.search import GridSearchCV 
from surprise.reader import Reader
from surprise.model_selection import train_test_split
from surprise.model_selection.split import KFold 
import surprise.accuracy as accuracy
import random

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
data_rev1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Greatelearning/RecommendationSys/phone_user_review_file_1.csv",encoding='latin-1')
data_rev2 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Greatelearning/RecommendationSys/phone_user_review_file_2.csv",encoding='latin-1')
data_rev3 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Greatelearning/RecommendationSys/phone_user_review_file_3.csv",encoding='latin-1')
data_rev4 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Greatelearning/RecommendationSys/phone_user_review_file_4.csv",encoding='latin-1')
data_rev5 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Greatelearning/RecommendationSys/phone_user_review_file_5.csv",encoding='latin-1')
data_rev6 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Greatelearning/RecommendationSys/phone_user_review_file_6.csv",encoding='latin-1')

In [4]:
# Check the Details for the data
data_list = [data_rev1,data_rev2,data_rev3,data_rev4,data_rev5,data_rev6]
for data_object in data_list:
  print(data_object.columns)
  print(data_object.head())

Index(['phone_url', 'date', 'lang', 'country', 'source', 'domain', 'score',
       'score_max', 'extract', 'author', 'product'],
      dtype='object')
                        phone_url       date lang country            source  \
0  /cellphones/samsung-galaxy-s8/   5/2/2017   en      us  Verizon Wireless
1  /cellphones/samsung-galaxy-s8/  4/28/2017   en      us       Phone Arena
2  /cellphones/samsung-galaxy-s8/   5/4/2017   en      us            Amazon
3  /cellphones/samsung-galaxy-s8/   5/2/2017   en      us           Samsung
4  /cellphones/samsung-galaxy-s8/  5/11/2017   en      us  Verizon Wireless

                domain  score  score_max  \
0  verizonwireless.com   10.0       10.0
1       phonearena.com   10.0       10.0
2           amazon.com    6.0       10.0
3          samsung.com    9.2       10.0
4  verizonwireless.com    4.0       10.0

                                             extract       author  \
0  As a diehard Samsung fan who has had every Sam...   CarolAnn35
1  Love the phone. the phone is sleek and smooth ...    james0923
2  Adequate feel. Nice heft. Processor's still sl...     R. Craig
3  Never disappointed. One of the reasons I've be...  Buster2020
4  I've now found that i'm in a group of people t...   S Ate Mine

                                             product
0                                  Samsung Galaxy S8
1                                  Samsung Galaxy S8
2  Samsung Galaxy S8 (64GB) G950U 5.8" 4G LTE Unl...
3                      Samsung Galaxy S8 64GB (AT&T)
4                                  Samsung Galaxy S8
Index(['phone_url', 'date', 'lang', 'country', 'source', 'domain', 'score',
       'score_max', 'extract', 'author', 'product'],
      dtype='object')
                    phone_url       date lang country  source        domain  \
0  /cellphones/leagoo-lead-7/  4/15/2015   en      us  Amazon    amazon.com
1  /cellphones/leagoo-lead-7/  5/23/2015   en      gb  Amazon  amazon.co.uk
2  /cellphones/leagoo-lead-7/  4/27/2015   en      gb  Amazon  amazon.co.uk
3  /cellphones/leagoo-lead-7/  4/22/2015   en      gb  Amazon  amazon.co.uk
4  /cellphones/leagoo-lead-7/  4/18/2015   en      gb  Amazon  amazon.co.uk

   score  score_max                                            extract  \
0    2.0       10.0  The telephone headset is of poor quality , not...
1   10.0       10.0  This is my first smartphone so I have nothing ...
2    8.0       10.0  Great phone. Battery life not great but seems ...
3   10.0       10.0      Best 90 quid I've ever spent on a smart phone
4   10.0       10.0  I m happy with this phone.it s very good.thx team

          author                                            product
0           luis  Leagoo Lead7 5.0 Inch HD JDI LTPS Screen 3G Sm...
1     Mark Lavin  Leagoo Lead 7 Lead7 MTK6582 Quad core 1GB RAM ...
2         tracey  Leagoo Lead 7 Lead7 MTK6582 Quad core 1GB RAM ...
3  Reuben Ingram  Leagoo Lead 7 Lead7 MTK6582 Quad core 1GB RAM ...
4         viorel  Leagoo Lead 7 Lead7 MTK6582 Quad core 1GB RAM ...
Index(['phone_url', 'date', 'lang', 'country', 'source', 'domain', 'score',
       'score_max', 'extract', 'author', 'product'],
      dtype='object')
                                         phone_url       date lang country  \
0  /cellphones/samsung-galaxy-s-iii-slim-sm-g3812/  11/7/2015   pt      br
1  /cellphones/samsung-galaxy-s-iii-slim-sm-g3812/  10/2/2015   pt      br
2  /cellphones/samsung-galaxy-s-iii-slim-sm-g3812/   9/2/2015   pt      br
3  /cellphones/samsung-galaxy-s-iii-slim-sm-g3812/   9/2/2015   pt      br
4  /cellphones/samsung-galaxy-s-iii-slim-sm-g3812/   9/1/2015   pt      br

      source            domain  score  score_max  \
0  Submarino  submarino.com.br    6.0       10.0
1  Submarino  submarino.com.br   10.0       10.0
2  Submarino  submarino.com.br   10.0       10.0
3  Submarino  submarino.com.br    8.0       10.0
4    Colombo    colombo.com.br    8.0       10.0

                                             extract  \
0  recomendo, eu comprei um, a um ano, e agora co...
1  Comprei um pouco desconfiada do site e do celu...
2  Muito bom o produto, obvio que tem versÃµes me...
3  Unica ressalva fica para a camera que poderia ...
4  Rapidez e atenÃ§Ã£o na entrega. O aparelho Ã© ...

                           author  \
0                herlington tesch
1             Luisa Silva Marieta
2                           Cyrus
3       Marcela Santa Clara Brito
4  Claudine Maria Kuhn Walendorff

                                             product
0  Samsung Smartphone Samsung Galaxy S3 Slim G381...
1  Samsung Smartphone Samsung Galaxy S3 Slim G381...
2  Samsung Smartphone Samsung Galaxy S3 Slim G381...
3  Samsung Smartphone Samsung Galaxy S3 Slim G381...
4  Smartphone Samsung Galaxy S3 Slim, Dual Chip, ...
Index(['phone_url', 'date', 'lang', 'country', 'source', 'domain', 'score',
       'score_max', 'extract', 'author', 'product'],
      dtype='object')
                                    phone_url        date lang country  \
0  /cellphones/samsung-s7262-duos-galaxy-ace/   3/11/2015   en      us
1  /cellphones/samsung-s7262-duos-galaxy-ace/  17/11/2015   en      in
2  /cellphones/samsung-s7262-duos-galaxy-ace/  29/10/2015   en      in
3  /cellphones/samsung-s7262-duos-galaxy-ace/  29/10/2015   en      in
4  /cellphones/samsung-s7262-duos-galaxy-ace/  29/10/2015   en      in

   source      domain  score  score_max  \
0  Amazon  amazon.com    2.0       10.0
1  Zopper  zopper.com   10.0       10.0
2  Amazon   amazon.in    4.0       10.0
3  Amazon   amazon.in    6.0       10.0
4  Amazon   amazon.in   10.0       10.0

                                             extract            author  \
0  was not conpatable with my phone as stated. I ...  Frances DeSimone
1  Decent Functions and Easy to Operate Pros:- Th...     Expert Review
2  Not Good Phone such price. Hang too much and v...   Amazon Customer
3                               not bad for features   Amazon Customer
4                                  Excellent product               NHK

                                             product
0  Samsung Galaxy Star Pro DUOS S7262 Unlocked Ce...
1                Samsung Galaxy Star Pro S7262 Black
2  Samsung Galaxy Star Pro GT-S7262 (Midnight Black)
3  Samsung Galaxy Star Pro GT-S7262 (Midnight Black)
4  Samsung Galaxy Star Pro GT-S7262 (Midnight Black)
Index(['phone_url', 'date', 'lang', 'country', 'source', 'domain', 'score',
       'score_max', 'extract', 'author', 'product'],
      dtype='object')
                    phone_url       date lang country      source  \
0  /cellphones/karbonn-k1616/  7/13/2016   en      in  91 Mobiles
1  /cellphones/karbonn-k1616/  7/13/2016   en      in  91 Mobiles
2  /cellphones/karbonn-k1616/  7/13/2016   en      in  91 Mobiles
3  /cellphones/karbonn-k1616/  4/25/2014   en      in     Naaptol
4  /cellphones/karbonn-k1616/  4/23/2013   en      in     Naaptol

          domain  score  score_max  \
0  91mobiles.com    2.0       10.0
1  91mobiles.com    6.0       10.0
2  91mobiles.com    4.0       10.0
3    naaptol.com   10.0       10.0
4    naaptol.com   10.0       10.0

                                             extract           author  \
0  I bought 1 month before. currently speaker is ...        venkatesh
1  I just bought one week back, I have Airtel con...           Venkat
2  one problem in this handset opera is not worki...           krrish
3  here Karbonn comes up with an another excellen...  BRIJESH CHAUHAN
4  What a phone, all so on Naaptol my god 23% off...    Suraj CHAUHAN

                 product
0          Karbonn K1616
1          Karbonn K1616
2          Karbonn K1616
3  Karbonn K1616 - Black
4  Karbonn K1616 - Black
Index(['phone_url', 'date', 'lang', 'country', 'source', 'domain', 'score',
       'score_max', 'extract', 'author', 'product'],
      dtype='object')
                                phone_url        date lang country  \
0  /cellphones/samsung-instinct-sph-m800/   9/16/2011   en      us
1  /cellphones/samsung-instinct-sph-m800/   2/13/2014   en      us
2  /cellphones/samsung-instinct-sph-m800/  12/30/2011   en      us
3  /cellphones/samsung-instinct-sph-m800/  10/18/2008   en      us
4  /cellphones/samsung-instinct-sph-m800/    9/6/2008   en      us

          source             domain  score  score_max  \
0    Phone Arena     phonearena.com    8.0       10.0
1         Amazon         amazon.com    6.0       10.0
2    Phone Scoop     phonescoop.com    9.0       10.0
3  HandCellPhone  handcellphone.com    4.0       10.0
4   Reviewed.com       reviewed.com    6.0       10.0

                                             extract      author  \
0  I've had the phone for awhile and it's a prett...  ajabrams95
1  to be clear it is not the sellers fault that t...   Stephanie
2  Well i love this phone. i have had ton of phon...    snickers
3  I have had my Instinct for several months now ...         A4C
4  i have had this instinct phone for about two m...   betaBgood

                     product
0        Samsung Instinct HD
1  Samsung SPH M800 Instinct
2              Instinct M800
3           Samsung Instinct
4           Samsung Instinct

##### Merge the provided CSVs into one data-frame.

In [5]:
data = pd.concat(data_list)
data.reset_index(inplace=True)
data.drop(columns=["index"],inplace=True)
data.tail(n=10000)

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
1405133,/cellphones/sony-cmd-z5/,12/3/2001,en,gb,Dooyoo,dooyoo.co.uk,6.0,10.0,This a realtivly new phone and has an importan...,anonym,Sony CMD-Z5
1405134,/cellphones/sony-cmd-z5/,10/22/2001,en,gb,Dooyoo,dooyoo.co.uk,10.0,10.0,"THE best phone on the market, classy and featu...",timbos,Sony CMD-Z5
1405135,/cellphones/sony-cmd-z5/,9/25/2001,en,gb,Dooyoo,dooyoo.co.uk,10.0,10.0,When looking at the Sony CMD-Z5 it can be very...,M_J_Carrier,Sony CMD-Z5
1405136,/cellphones/sony-cmd-z5/,8/12/2001,en,gb,Dooyoo,dooyoo.co.uk,6.0,10.0,I`ve had the Sony CMD-Z5 for just about a year...,Verbal,Sony CMD-Z5
1405137,/cellphones/sony-cmd-z5/,7/25/2001,en,gb,Dooyoo,dooyoo.co.uk,8.0,10.0,Now that my current phone's contract is immine...,curly00,Sony CMD-Z5
...,...,...,...,...,...,...,...,...,...,...,...
1415128,/cellphones/alcatel-ot-club_1187/,5/12/2000,de,de,Ciao,ciao.de,2.0,10.0,Weil mein Onkel bei ALcatel arbeitet habe ich ...,david.paul,Alcatel Club Plus Handy
1415129,/cellphones/alcatel-ot-club_1187/,5/11/2000,de,de,Ciao,ciao.de,10.0,10.0,Hy Liebe Leserinnen und Leser!! Ich habe seit ...,Christiane14,Alcatel Club Plus Handy
1415130,/cellphones/alcatel-ot-club_1187/,5/4/2000,de,de,Ciao,ciao.de,2.0,10.0,"Jetzt hat wohl Alcatell gedacht ,sie machen wa...",michaelawr,Alcatel Club Plus Handy
1415131,/cellphones/alcatel-ot-club_1187/,5/1/2000,de,de,Ciao,ciao.de,8.0,10.0,Ich bin seit 2 Jahren (stolzer) Besitzer eines...,claudia0815,Alcatel Club Plus Handy
1415132,/cellphones/alcatel-ot-club_1187/,4/25/2000,de,de,Ciao,ciao.de,2.0,10.0,"Was sich Alkatel hier wieder ausgedacht hat,sc...",michaelawr,Alcatel Club Plus Handy

#### Exploratory Data Analysis

In [6]:
# Create a copy of the data for analysis
data_analysis = data.copy()

##### Check a few observations and shape of the data-frame.

In [7]:
print("Shape of the data - ",data_analysis.shape)
print("Columns of data - ",data_analysis.columns)

Shape of the data -  (1415133, 11)
Columns of data -  Index(['phone_url', 'date', 'lang', 'country', 'source', 'domain', 'score',
       'score_max', 'extract', 'author', 'product'],
      dtype='object')

In [8]:
# Random check on data for 5o records
data_analysis.sample(n=25,random_state=612)

,phone_url,date,lang,country,source,domain,score,score_max,extract,author,product
1381066,/cellphones/samsung-mm-a700-sph-a700/,9/18/2004,en,us,Phone Scoop,phonescoop.com,3.0,10.0,Sprint missed the boat on the fundamentals wit...,GrandWazoo,MM-A700 / SPH-A700
159224,/cellphones/lg-g5/,1/2/2017,en,us,Verizon Wireless,verizonwireless.com,10.0,10.0,"Just got this a couple of weeks ago, really ni...",Hunts1,LG G5
166941,/cellphones/microsoft-lumia-640-dual-sim/,3/10/2016,ru,ru,Yandex,market.yandex.ru,6.0,10.0,Ð¡ÑÐµÐ´Ð½Ð¸Ð¹ ÑÐ¼Ð°ÑÑÑÐ¾Ð½. ÐÐ· Ð¿Ð»ÑÑ...,NaN,Microsoft Lumia 640 3G Dual Sim
340422,/cellphones/samsung-galaxy-s5/,5/24/2016,en,in,Flipkart,flipkart.com,8.0,10.0,Good...reasonable. .original product of Samsun...,Sandeep Kumar...,"SAMSUNG Galaxy S5 (Copper Gold, 16 GB)"
290110,/cellphones/samsung-galaxy-note-4/,11/13/2014,en,ca,Amazon,amazon.ca,10.0,10.0,Shipped very fast and came with everything you...,mike hawdon,"Tech Armor Galaxy Note 4 Screen Protector, Tec..."
1166492,/cellphones/nokia-e71/,2/20/2009,en,us,Amazon,amazon.com,4.0,10.0,"Phone arrived, and the initial looks of it wer...",The mother of all prduct reviews,Nokia E71x Unlocked Phone with QWERTY Keyboard...
264600,/cellphones/apple-iphone-6/,11/13/2014,en,us,Amazon,amazon.com,8.0,10.0,The phone was to my expectations and I was hap...,Amazon Customer,Apple iPhone 6 16GB Factory Unlocked GSM 4G LT...
1275859,/cellphones/nokia-6680/,1/21/2007,en,gb,Amazon,amazon.co.uk,8.0,10.0,Its hot chrome packing slick phone albeit it b...,Amazon Customer,Nokia 6680 Smartphone
416067,/cellphones/sony-xperia-z3-compact/,11/25/2014,en,gb,Amazon,amazon.co.uk,6.0,10.0,I'd like to say this phone is great- and so mu...,Jsphstry,Sony Xperia Z3 Compact UK SIM-Free Smartphone ...
306382,/cellphones/acer-liquid-z630/,12/21/2015,fr,fr,Amazon,amazon.fr,2.0,10.0,laissant un samsung s5 j'ai pris celui la car ...,Client d'Amazon,Acer Liquid Z630 Smartphone dÃ©bloquÃ© 4G (Ecr...
1051626,/cellphones/blu-vivo-air/,6/18/2015,en,us,Amazon,amazon.com,6.0,10.0,The good: This phone is super thin. 5mm. Pick ...,No Name,"BLU Vivo Air Unlocked Cellphone, 16GB, Black"
988241,/cellphones/apple-iphone-4/,11/29/2010,en,us,Amazon,amazon.com,2.0,10.0,This item sucks the phone can not be activated...,barbra willimas,"Apple Iphone 4 - 8gb Sprint (CDMA) White, Smar..."
452919,/cellphones/sony-xperia-z2/,7/17/2014,de,de,Amazon,amazon.de,2.0,10.0,"ich bin total begeistert, alles ist mÃ¶glich. ...",Magrit Tamborini,"Sony Xperia Z2 Smartphone (5,2 Zoll (13,2 cm) ..."
416939,/cellphones/sony-xperia-z3-compact/,3/29/2016,it,it,Amazon,amazon.it,10.0,10.0,Ho aspettato un mese prima di fare la recensio...,M. Carolina,"Sony Xperia Z3 Compact Smartphone, Display 4,6..."
965310,/cellphones/zte-blade/,4/16/2011,en,gb,Amazon,amazon.co.uk,4.0,10.0,my phone was fine fore a wil then one time whe...,fafduck,Orange San Francisco / Android / Mobile Phone ...
1105330,/cellphones/lg-vn250/,5/21/2010,en,us,Amazon,amazon.com,10.0,10.0,Item was just what we ordered and very nice.,duke,LG Cosmos VN250 Black No Contract No Data Veri...
346027,/cellphones/samsung-galaxy-s5/,7/6/2014,en,us,Amazon,amazon.com,8.0,10.0,Works well. Had to re-calibrate the touch-scre...,Steven,Samsung Galaxy S5 SM-G900T -16GB Black (T-Mobile)
877530,/cellphones/samsung-galaxy-ace-plus/,1/11/2012,ru,ru,Yandex,market.yandex.ru,8.0,10.0,"?????????? ?????????? ??????????, ???????????...",madday1981,Samsung Galaxy Ace Plus GT-S7500
553182,/cellphones/nokia-lumia-530/,3/27/2015,pt,br,Cissa Magazine,cissamagazine.com.br,NaN,NaN,celular Otimo produto celular nokia lumia 530 ...,ALEX kraus,Smartphone Nokia Lumia 530 Dual Desbloqueado B...
1163761,/cellphones/lg-lotus-lx600/,6/11/2009,en,us,HandCellPhone,handcellphone.com,10.0,10.0,I just got a new Rant on Monday and hated it. ...,Firekraker77,LG Lotus
1209899,/cellphones/nokia-6110-41182/,11/7/2000,en,gb,Ciao,ciao.co.uk,10.0,10.0,This phone has a sleek and sexy look. Typicall...,pehchiong,Nokia 6110
417809,/cellphones/sony-xperia-z3-compact/,4/29/2015,fr,fr,Amazon,amazon.fr,10.0,10.0,tres bonne surprise ! Je ne risque pas de reto...,Ethan,Sony Mobile Xperia Z3 Compact Smartphone DÃ©bl...
538331,/cellphones/apple-iphone-5s/,12/13/2013,en,in,Amazon,amazon.in,8.0,10.0,many apps don't work like true caller is not l...,rishi jain,"Apple iPhone 5s (Gold, 16GB)"
1081147,/cellphones/lg-gt540/,11/16/2011,es,ar,MercadoLibre,opinion.mercadolibre.com.ar,10.0,10.0,El celular es bueno en toda forma ya que tiene...,CHUCHUGUA08,Lg Gt540
92039,/cellphones/samsung-galaxy-a5-2017/,2/21/2017,es,es,Amazon,amazon.es,10.0,10.0,"Perfecto por ahora, rÃ¡pido, cÃ³modo y prÃ¡cti...",lidia,Samsung Galaxy A5 (2017) Smartphone 32 GB de M...

##### formating the phone url Columns

In [9]:
# formating the phone url Columns

# Check is all the rows starts with "cellphones"
print(data_analysis['phone_url'].str.startswith('/cellphones/').value_counts() )
data_analysis['phone_url'] = data_analysis['phone_url'].str.replace('/cellphones/','')
data_analysis['phone_url'] = data_analysis['phone_url'].str[:-1]
data_analysis['phone_url'].value_counts()

True    1415133
Name: phone_url, dtype: int64

samsung-galaxy-s-iii      17093
apple-iphone-5s           16379
samsung-galaxy-s6         16145
samsung-galaxy-s5         16082
samsung-galaxy-s7-edge    15917
                          ...
panasonic-eluga-power         1
xiaomi-redmi-3s-prime         1
htc-f3188                     1
motorola-wx294                1
benq-m315                     1
Name: phone_url, Length: 5556, dtype: int64

##### Analysis the Column "author"

In [10]:
#pd.set_option('display.max_rows', None)
print("Not of observation with empty - ",data_analysis["author"].isna().sum())
print("Not of observation with empty % - ",(data_analysis["author"].isna().sum() / data_analysis.shape[0])*100)

Not of observation with empty -  63202
Not of observation with empty % -  4.466152651376231

Since only 1000000 are request for analysis, removing the observation where author names are empty

In [11]:

data_analysis.dropna(subset=["author"],inplace=True)
data_analysis.isna().sum()

phone_url        0
date             0
lang             0
country          0
source           0
domain           0
score        60893
score_max    60893
extract      15515
author           0
product          0
dtype: int64

##### Analysis the Column "Score and score_max"

In [12]:
##### Analysis the Column "Score and score_max"

In [13]:
print("Not of observation with empty - ",data_analysis["score"].isna().sum())
print("Not of observation with empty % - ",(data_analysis["score"].isna().sum() / data_analysis.shape[0])*100)

Not of observation with empty -  60893
Not of observation with empty % -  4.504149989903331

Since only 1000000 are request for analysis, removing the observation where score names are empty

In [14]:
data_analysis.dropna(subset=["score"],inplace=True)
data_analysis.isna().sum()

phone_url        0
date             0
lang             0
country          0
source           0
domain           0
score            0
score_max        0
extract      15121
author           0
product          0
dtype: int64

In [15]:
# is there any observation with score greater than max score ?
data_analysis.query("score > score_max").count().sum()

0

 - is there any observation with score greater than max score ? -NO

###### Round off scores to the nearest integers

In [16]:
data_analysis["score_round"] = np.round(data_analysis["score"])
data_analysis["score_round"].unique()

array([10.,  6.,  9.,  4.,  8.,  2.,  7.,  5.,  3.,  1.,  0.])

In [17]:
# is the scoring is done on same scale  ( 1 -10) ?  
data_analysis["score_max"].value_counts()

10.0    1291038
Name: score_max, dtype: int64

- is the scoring is done on same scale  ( 1 -10) ?  - YES

##### Dropping irrelevant features & removing duplicate columns

In [18]:
# Removing the duplicate rows - when phone_url,author & score are same
rows_with_duplicate = int(data_analysis.shape[0])

print("# of Observations - ",rows_with_duplicate)
data_analysis.drop_duplicates(subset=['phone_url','author','score'],keep='first',inplace=True)

rows_without_duplicate = int(data_analysis.shape[0])
print("# of Observations after removing duplicate - ",rows_without_duplicate)

print("% of rows duplicated rows removed - " , ((rows_with_duplicate - rows_without_duplicate)/rows_with_duplicate)*100)

# of Observations -  1291038
# of Observations after removing duplicate -  1114575
% of rows duplicated rows removed -  13.668304108786883

- 13% duplicated rows have been removed , it's OK since only 10L rows are to be considered for the analysis.

In [19]:
# 'phone_url','author','score' are considered for the analysis on other rows are removed.
data_analysis = data_analysis[['phone_url','author','score']]
data_analysis.head()

           phone_url       author  score
0  samsung-galaxy-s8   CarolAnn35   10.0
1  samsung-galaxy-s8    james0923   10.0
2  samsung-galaxy-s8     R. Craig    6.0
3  samsung-galaxy-s8  Buster2020     9.2
4  samsung-galaxy-s8   S Ate Mine    4.0

##### Sampling 1000000 rows

In [20]:
data_analysis = data_analysis.sample(n=1000000,random_state=612)
print("Check the shape ", data_analysis.shape)
print(" missing values ", data_analysis.isna().sum().sum())

Check the shape  (1000000, 3)
 missing values  0

### 2) Answer the following questions 

1.   Identify the most rated features
2.   Identify the users with most number of reviews.
3.   Select the data with products having more than 50 ratings and users who have given more than 50 ratings. Report the shape of the final
dataset

##### most rated features

In [21]:
data_groupby_phone = data_analysis.groupby(by="phone_url").count()
data_groupby_phone = data_groupby_phone.sort_values(by=['author'],ascending=False)
data_groupby_phone["author"].head(10)

phone_url
samsung-galaxy-s5                                    11758
samsung-galaxy-s6                                    11421
motorola-moto-g                                      10755
samsung-galaxy-s7-edge                               10714
apple-iphone-5s                                      10537
samsung-i9500-galaxy-s-iv                             9844
samsung-galaxy-s7-789999                              9517
huawei-p8-lite                                        6906
apple-iphone-4s                                       6522
samsung-galaxy-s4-mini-gt-i9190-gt-i9192-dual-sim     6333
Name: author, dtype: int64

 ##### users with most number of reviews

In [22]:
data_groupby_author = data_analysis.groupby(by="author").count()
data_groupby_author = data_groupby_author.sort_values(by='phone_url',ascending=False)
data_groupby_author['phone_url'].head(10)

author
Amazon Customer    4999
Cliente Amazon     1722
Anonymous          1614
Amazon Kunde       1193
Client d'Amazon    1025
David               565
Alex                541
Daniel              504
Chris               488
Andrea              447
Name: phone_url, dtype: int64

#### Filter Data - product with 50 rating and User gave 50 rating

In [23]:
data_groupby_phone = data_groupby_phone.query("author > 50")
data_groupby_author = data_groupby_author.query("phone_url > 50")
data_analysis = data_analysis[ data_analysis["phone_url"].isin(data_groupby_phone.index) | data_analysis["author"].isin(data_groupby_author.index)]
print(data_analysis.shape)
data_analysis.head()

(953463, 3)

                                   phone_url          author  score
684155                             blu-d610a          kidman    6.0
612277  lenovo-a1000-dual-sim-4-mobile-phone         Premjit    2.0
971958                       samsung-omnia-7      H. Stevens    6.0
902361                 samsung-galaxy-pocket  Andrea Jaschan   10.0
535173                       apple-iphone-5s      Bijoy Jose   10.0

- 953463 observation selected further anaysis

### popularity based model

In [24]:
rating_mean_count =  pd.DataFrame(data_analysis.groupby(by="phone_url")["score"].mean())
rating_mean_count["rating_count"] =  pd.DataFrame(data_analysis.groupby(by="phone_url")["score"].count())

In [25]:
display(" Scoring Distripution" , ["%.2f" % elem for elem in  np.percentile(rating_mean_count.score, [10,20,30,40,50,60,70,80,90,100])])
display(" Rating count Distripution" , ["%.2f" % elem for elem in  np.percentile(rating_mean_count.rating_count, [10,20,30,40,50,60,70,80,90,100])])

' Scoring Distripution'

['5.84',
 '6.64',
 '7.17',
 '7.51',
 '7.81',
 '8.00',
 '8.24',
 '8.54',
 '9.00',
 '10.00']

' Rating count Distripution'

['1.00',
 '2.00',
 '3.00',
 '53.00',
 '75.00',
 '110.00',
 '162.10',
 '270.00',
 '585.00',
 '11758.00']

 - 50% of products have average rating of 8
 - 20% of products have ranting count 270 
 - On Popularity recommendation we list products with the average rating of 8 and Rating count greater than 270

In [26]:
rating_mean_count.query('rating_count >= 270 & score > 8').head(n=5)

                                   score  rating_count
phone_url
acer-liquid-e2                  8.595860           628
alcatel-one-touch-997d-ot-997d  8.466667           420
alcatel-onetouch-20-04          8.491935           744
apple-iphone                    8.111111           891
apple-iphone-3gs                8.149599          2367

Top 5 mobiles recommended through Popularity recommendation


1.   acer-liquid-e2	
2.   alcatel-one-touch-997d-ot-997d		
3.   alcatel-onetouch-20-04	
4.   apple-iphone		
5.   apple-iphone-3gs

### collaborative filtering

##### Matrix Factorization ( using SVD )

In [ ]:
reader = Reader(rating_scale=(0, 5),line_format='user item rating')
matrix_fact_data = Dataset.load_from_df(data_analysis[['author','phone_url','score']],reader)
raw_ratings = matrix_fact_data.raw_ratings
random.shuffle(raw_ratings)

# 90% trainset, 10% testset                                                
threshold = int(.9 * len(raw_ratings))                                     
trainset_raw_ratings = raw_ratings[:threshold]                             
test_raw_ratings = raw_ratings[threshold:]
matrix_fact_data.raw_ratings = trainset_raw_ratings


param_grid = {'n_factors':[5,10,15,50],'n_epochs':[10,20]}
svd_gs = GridSearchCV(SVD, param_grid, measures=['rmse'],cv=KFold(n_splits=5, random_state=123),n_jobs=5)
svd_gs.fit(matrix_fact_data)

In [ ]:
print("Score " , svd_gs.best_score)
print("Best Param " , svd_gs.best_params)

In [ ]:
svd_bestmodel = SVD(n_factors =svd_gs.best_params['rmse']['n_factors'],n_epochs = svd_gs.best_params['rmse']['n_epochs'])
trainset = data.build_full_trainset()                                      
svd_bestmodel.fit(trainset)   


# now test on the trainset                                                 
testset = data.construct_testset(trainset_raw_ratings)                     
predictions = algo.test(testset)                                           
print('Accuracy on the trainset:')                                         
accuracy.rmse(predictions)                                                 
                                                                           
# now test on the testset                                                  
testset = data.construct_testset(test_raw_ratings)                         
predictions = algo.test(testset)                                           
print('Accuracy on the testset:')                                          
accuracy.rmse(predictions)

Accuracy on the trainset:

NameError: ignored

In [ ]:
# print(type(train_test_data))
# print(type(validate_data))
# train_test_data

# user_ratings=train_test_data.ur
# user_ratings[0]

# train_test_data.to_raw_uid(0)
# train_test_data.to_raw_iid(0)

# data_analysis.query('author == "Vincent J."')